body{
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";;
}
h1{
    display: inline-block;
    margin: 20px;
    margin-right: 250px;
    padding: 10px;

}
h3{
    color: #3A4453;
    display: inline-block;
    margin: 20px;
    padding-right: 15px;
}
button.cont{
    display: inline-block;
    margin-left: 270px; 
    height: 40px;
    width: 150px;
    border: 3px solid #F8F9FA;
    border-radius: 6px;
    padding: 10px; 
    font-size: 15px;
    background-color: white;
    font: #E9EBEE;
}
div.texts{
    width: 600px;
    margin: 30px;
    padding-bottom: 50px
}
p{
    font-weight: bolder;
    font-size: 60px;
}   
.material-symbols-outlined {
    color:#0096FF;
    padding: 5px;
}
.points{
    vertical-align: 5px;
}
img{
    position: absolute;
    left: 750px;
    top: 180px;
    border-radius: 10px;
}
.image{
    display: inline-block;
}
input{
    height: 30px;
    width : 320px;
    border: 3px solid #E8E9ED;
    padding: 10px;
    font-size: large;
    border-radius: 6px;
    margin-bottom: 50px;
}
button.ju{
    margin: -90px;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 6px;
    height: 35px;
    padding: 5px 12px;
    font-size: large;
}
.last_point{
    margin-bottom:40px;
}