h1{
    color :blue;
    background-color: black;

}
h2.ichi{
    color: azure;
    background-color: black;
}
body{
    background-color: bisque;
}
h2.grimm{
    color: aqua;
    background-color: blue;
}